<app-header-all></app-header-all>
<img class="wave" src="../../../assets/img/wave.png">
<div class="container">
    <div class="img">
        <img class="imgg" src="../../../assets/img/car.png">
    </div>

   
</div>
<div class="content">
   
    <mat-card>
        
            <mat-card-title align="middle">Riding Information</mat-card-title>
            <mat-card-subtitle align="middle">Agra-Delhi (9:00p.m)</mat-card-subtitle>
            <mat-card-content>
                <table class="table">
                
                    <tbody>
                      <tr>
                        <th>Driver Name</th>
                        <td>Aman kulbe</td>
                       
                      </tr>
                      <tr>
                        <th>pick-up Location</th>
                        <td>Sikandra</td>
                       
                      </tr>
                      <tr>
                        <th>pick-up Time</th>
                        <td>9:00 p.m.</td>
                       
                      </tr>
                      <tr>
                        <th>Arival time</th>
                        <td>12:00 a.m</td>
                       
                      </tr>
                      <tr>
                        <th>Vehicle No</th>
                        <td>UP807345</td>
                       
                      </tr>
                      <tr>
                        <th>Vehicle-Model</th>
                        <td>Swift-Desire</td>
                       </tr>
                       <tr>
                        <th>Vacant Seats</th>
                        <td>2</td>
                       
                      </tr>
                      <tr>
                        <th>Amount</th>
                        <td>500 rs</td>
                       
                      </tr>
                     
                    </tbody>
                  </table>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-raised-button  [routerLink]="['/ride-details']" color="primary">Back</button>
                <button mat-raised-button  [routerLink]="['/passenger-info']" color="warn">Book Ride</button>

                

            </mat-card-actions>
            
        </mat-card>
      
</div>
