<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class=" register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="../../../assets/img/carm.webp" alt=""/>
                <h1>Welcome</h1>
                <p>It's great to ride with you while you're taking care of business. Make you own Money!</p>
                <br/>
            </div>
            <div class="col-md-9 register-right">
                
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active"  >
                        <h3 class="register-heading">OFFER YOUR RIDE</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <mat-form-field class="full-width " floatLabel="auto" hideRequiredMarker appearance="outline">
                                    
                                    <mat-label>Full Name</mat-label>
                                     <input matInput  type="text" required/>
                                     
                                </mat-form-field>
                                <mat-form-field class="full-width " floatLabel="auto" hideRequiredMarker appearance="outline">
                                    <mat-label>Last  Name</mat-label>
                                     <input matInput type="text" required/>
                                     
                                </mat-form-field>
                                <mat-form-field class="full-width">
                                    <mat-label>Choose a date</mat-label>
                                    <input class="set" matInput [matDatepicker]="picker" [min]="todayDate" >
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                  <mat-form-field class="full-width set2" floatLabel="auto" hideRequiredMarker appearance="outline">
                                   
                                     <input matInput type="time" id="timepicker1" required/>
                                     
                                </mat-form-field>
                                 
                                  
                                <mat-radio-group aria-label="Select an option">
                                    <mat-radio-button value="1">Male</mat-radio-button>
                                    <mat-radio-button value="2">Female</mat-radio-button>
                                  </mat-radio-group>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width " floatLabel="auto" hideRequiredMarker appearance="outline">
                                    <mat-label>Source*</mat-label>
                                     <input matInput type="text" required/>
                                     
                                </mat-form-field>
                                <mat-form-field class="full-width " floatLabel="auto" hideRequiredMarker appearance="outline">
                                    <mat-label>Destination</mat-label>
                                     <input matInput type="text" required/>
                                     
                                </mat-form-field>
                                <mat-form-field class="full-width " floatLabel="auto" hideRequiredMarker appearance="outline">
                                    
                                     <input matInput type="time" id="timepicker2"required/>
                                     
                                </mat-form-field>
                                <mat-form-field class="full-width " floatLabel="auto" hideRequiredMarker appearance="outline">
                                    <mat-label>Pricer per Seat*</mat-label>
                                     <input matInput type="" required/>
                                     
                                </mat-form-field>
                                <input type="submit" class="btnnext" (click)="gotonextpage()" value="Next"/>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

    </div>
</body>
</html>
<!------ Include the above in your HEAD tag ---------->

