<!DOCTYPE html>
<html>
<head>
	<title>Signup Form</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<img class="wave" src="../../../assets/img/wave.png">
	<div class="container">
		<div class="img">
			<img class="imgg" src="../../../assets/img/carpooling.jpg">
		</div>
		<div class="login-content">
			<form action="index.html">
				<img src="../../../assets/img/avatar.svg">
				<h2 class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="i">
                    <i class="fa fa-user" aria-hidden="true"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Username</h5>
           		   		<input type="text" class="input">
					</div>
					  
           		</div>
			   	<div class="input-div pass">
					<div class="i"> 
						<i class="fa fa-phone" aria-hidden="true"></i>
				  	</div>
				  	<div class="div">
					  	<h5>Phone Number</h5>
					  	<input type="number" class="input">
				  	</div>
				</div>
				<div class="input-div pass">
					<div class="i"> 
                        <i class="fa fa-envelope" aria-hidden="true"></i>
				  	</div>
				  	<div class="div">
					  	<h5>Email</h5>
					  	<input type="email" class="input">
				  	</div>
				</div>
				<div class="input-div pass">
					<div class="i"> 
						<i class="fa fa-lock" aria-hidden="true"></i>
				  	</div>
				  	<div class="div">
					  	<h5>Password</h5>
					  	<input type="password" class="input">
				 	</div>
			  	</div>
			  	<div class="input-div pass">
					<div class="i"> 
                        <i class="fa fa-lock" aria-hidden="true"></i>
			  		</div>
			  		<div class="div">
				  		<h5>Confirm Password</h5>
				  	<input type="password" class="input">
			  	</div>
		  		</div>

                <button class="btn">SignUp</button>
                <button class="btn-primary" routerLink="/login"><a class="loginbtn">Existing User? Login Here!</a></button> 
			</form>

        </div>
    </div>
</body>
</html>
<br>
