
  <app-header></app-header>
  <div class="bd-example">
    
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">


      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="slider-offset"></div>
       
          <img src="../../../assets/img/banner2.jpg" class="w-100" alt="#">
          <div class="carousel-caption ">
            <h2>SEARCH! TRAVEL! FUN!</h2>
            <h4>Start logging in your intelligent commutes</h4>
            <button type="button" class=" m-2 btn btn-info  btn-round text-light"><b>Offer Ride</b></button>
            <br>
            <button type="button" class=" m-2 btn btn-info btn-round text-light"><b>Find Ride</b></button>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider-offset"></div>
          <img src="../../../assets/img/banner4.jpg" class="w-100 " alt="#">
          <div class="carousel-caption ">
            <h2>SHARING RIDE SHOWS A GREATER HEART!</h2>
            <h4>Love, Nurture, Protect, Carpool</h4>
            <button type="button" class=" m-2 btn btn-info  btn-round text-light"><b>Offer Ride</b></button>
            <br>
            <button type="button" class=" m-2 btn btn-info btn-round text-light"><b>Find Ride</b></button>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider-offset"></div>
          <img src="../../../assets/img/background.jpg" class="w-100 " alt="#">
          <div class="carousel-caption ">
            <h2>SAME DESTINNATION,MORE COMPANIONS!</h2>
            <h4>Riding together take an experience</h4>
            <button type="button" class=" m-2 btn btn-info  btn-round text-light"><b>Offer Ride</b></button>
            <br>
            <button type="button" class=" m-2 btn btn-info btn-round text-light"><b>Find Ride</b></button>
            
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="main2">

    <div class="container-fluid padding">
      <div class="row mw-100" >
       <div class="col-md-6  col-sm-12 p-5">
        <div class="card " style="width: 30rem; position:absolute; left:10%; ">
          <img src="../../../assets/img/img1.jpg" style="height: 22rem;" class="card-img-top"  alt="...">
          
          <div class="card-body">
            <h4>Driving In your Car Alone?</h4>
            <p>Make some cash. save some cash</p>
          <button type="button" class=" m-2 btn btn-info  btn-round text-light"><b>Offer Ride</b></button>
            
          </div>
        </div>
       </div>
       <div class="col-sm-12 col-md-6 p-5 ">
        <div class="card" style="width: 30rem;">
          <img src="../../../assets/img/travel2.jpeg" style="height: 22rem;" class="card-img-top"  alt="...">
          
          <div class="card-body">
            <h4>Looking For a Ride in Affordable Price??</h4>
            <p>Enjoy the lane of the carpool</p>
          <button type="button" class=" m-2 btn btn-info  btn-round text-light"><b>Find Ride</b></button>
          </div>
        </div>

       </div>
       
      </div>
  </div>
   <div class="main3 bg-info">

<div class="container">
  <div class="offset"></div>
  <h1 class="text-center  text-light col-lg-12 col-md-6 col-sm-12 p-2">See Our Recent Rides</h1>
  <div class="row mb-0" >
    <div class="col-lg-4 col-md-12 col-sm-12 align-middle" >
       <button class="btn btn-light text-dark m-5 " >Delhi-Mumbai</button>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <button class="btn btn-light text-dark m-5">Delhi-Mumbai</button>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <button class="btn btn-light text-info m-5 ">Delhi-Mumbai</button>
    </div>
  
    
</div>
</div>

  </div>

  <div class="main4">
    <div class="container">
      <h2 class="text-center p-3">Why Choose nossHACC??</h2>
      <div class="row jumbotron mb-0" style="background-color: white">
          <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="card text-white bg-transparent text-dark border-0" >
                      <div class="card-body">
                              <h1 class="text-center">
                                <i class="fa fa-check fa-2x" style="color:rgb(75, 158, 75)" aria-hidden="true"></i>
                              </h1>
                            <h2 class="card-title text-center" >Safe</h2>
                            <p class="card-text text-center lead">Verified Users,Passenger can see with whom they will be travell.</p>
                      </div>
                  </div>
          </div>
          
          <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="card text-white bg-transparent text-dark border-0" >
                      
                      <div class="card-body">
                            <h1 class="text-center">
                              <i class="fa fa-inr fa-2x" style="color:rgb(185, 36, 36)" aria-hidden="true"></i>
                            </h1>  
                            <h2 class="card-title text-center">Affordable</h2>
                            <p class="card-text text-center lead">Sharing Rides Save money and reduce fuel cost.</p>
                      </div>
                  </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12">
                  <div class="card text-white bg-transparent text-dark border-0" >
                      
                      <div class="card-body">
                            <h1 class="text-center">
                              <i class="fa fa-location-arrow fa-2x" style="color:rgb(89, 163, 223)" aria-hidden="true"></i>
                            </h1>
                            <h2 class="card-title text-center">Get Going Faster</h2>
                            <p class="card-text text-center lead">No need to travel across town, catch a ride leaving near you.</p>
                      </div>
                  </div>
          </div>

      </div>
      </div>
  </div>
  <app-footer></app-footer>

      
   
  
