<div class="container-fluid">
    <div class="row"> 
      <div class="col-12">
        <!--menu Bar-->
        <div class="bs-example">
            <nav class="navbar navbar-expand-sm   fixed-top bg-transparent " id="nav" >
              
                <img src="../../assets/img/logo.png" href="#" width="40px" height="40px">
                <p class="navbar-brand text-dark m-2 h3" >nosHACC
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                      <button type="button" class=" m-2 btn btn-info  btn-round text-light"><i class="fa fa-plus-circle m-1" aria-hidden="true"></i><b>Offer Ride</b></button>
                      <button type="button" class=" m-2 btn btn-info btn-round text-light"><i class="fa fa-search-plus m-1" aria-hidden="true"></i><b>Find ride</b></button>
                      <button type="button" routerLink="/login" class=" m-2 btn btn-info btn-round text-light"><i class="fa fa-user m-1" aria-hidden="true"></i><b>Login</b></button>
                      <button type="button" routerLink="/signup" class=" m-2 btn btn-info btn-round text-light"><i class="fa fa-user-plus m-1" aria-hidden="true"></i><b>Signup</b></button>
                      
                        
                      
                    </div>
                </div>
              </nav>
        </div>
  
      </div>
    </div>
  </div>
