<app-header-all></app-header-all>
<img class="wave" src="../../../assets/img/wave.png">
<div class="container">
    <div class="img">
        <img class="imgg" src="../../../assets/img/car.png">
    </div>

   
</div>

  
<div class="content">
    <div class="title mat-display-1"> Available Rides</div>
    <ul class="list-group">
        <li class="list-group-item itemStyle" >
            <div class="card">
                <div class="card-body">
                  <b>Agra-Delhi</b> (09:00p.m)
                  <a routerLink="/ride-info"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
              </div>



        </li>
        <li class="list-group-item itemStyle" > <div class="card">
            <div class="card-body ">
              
                <b>Agra-Delhi</b> (11:00p.m) <a><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
            </div>
          </div></li>
        <li class="list-group-item itemStyle" aria-disabled="true">
            
            <div class="card">
                <div class="card-body">
                    <b>Agra-Delhi</b> (05:00p.m)
                    <a><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                    
                  </div>
              </div>
        </li>
    </ul>
    <!-- <mat-list>
        <mat-list-item  class="itemStyle">
            <mat-card  class="cardStyle">
                <mat-card-title>Agra-Delhi</mat-card-title>
                <mat-card-subtitle>9:00p.m.</mat-card-subtitle>
               
            </mat-card>
        </mat-list-item>
        <mat-list-item  class="itemStyle">
            <mat-card  class="cardStyle">
                <mat-card-title>Agra-Delhi</mat-card-title>
                <mat-card-subtitle>9:00p.m.</mat-card-subtitle>
               
            </mat-card>
       </mat-list-item>
       <mat-list-item  class="itemStyle">
        <mat-card  class="cardStyle">
            <mat-card-title>Agra-Delhi</mat-card-title>
            <mat-card-subtitle>9:00p.m.</mat-card-subtitle>
           
        </mat-card>
   </mat-list-item>
         <mat-list-item> Salt </mat-list-item>
        <mat-list-item> Paprika </mat-list-item> -->
        

   
</div>
